<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>SAP HANA: Revolutionize the Way You Run Your Business</string>
		<key>url</key>
		<string>http://broadstreetdata.com/sap-hana-revolutionize-the-way-you-run-your-business/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>BI Comtepency Centre: Accountability</string>
		<key>url</key>
		<string>http://broadstreetdata.com/bi-competency-centre-accountability/</string>
	</dict>
</array>
</plist>
